:local {
  .roundedBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    padding: 11px 10px;

    justify-content: center;
  }

  .titleBlock {
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.045);
    width: 90%;
    padding: 25px 10px 20px 10px;
    margin-bottom: 40px;
  }

  .titleBlock:hover{
    cursor: pointer;
  }

  .title {
    font-weight: 500;
    font-size: 35px;
    margin: 5px;
    text-align: center;
  }

  .questionCount {
    font-size: 25px;
    color: #353535;
    margin: 5px;
  }

  .author {
    font-size: 18px;
    color: #353535;
    margin: 0;
  }

  .bottomGap {
    margin-bottom: 150px;
  }
}
