:local {
  .examList{
    margin-top: 15px;
  }
  .listItem{
    padding: 25px;
    border-radius: 23px;
    margin: 0 15px 15px 15px;
    background: linear-gradient(to right, #EFF6FF, #DDECFF, #C0DCFF);
  }
  .name{
    font-size: 22px;
    font-weight: 500;
    word-break: break-word;
  }
  .author{
    font-size: 18px;
    color: #636363;
    word-break: break-word;
  }

  .favorites{
    background: linear-gradient(to right, #93939340, #93939373, #939393A6);
  }
  .button:hover {
    cursor: pointer;
  }

  .listItem:hover {
    cursor: pointer;
  }

  .loadingText {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 5px 0 20px;
  }

  .syncText {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .loader {
    display: inline-block;
    animation: spin 1s linear infinite;
    transform-origin: center center;
    width: 22px;
    height: 22px;
  }

  .spinner {
    width: 22px;
    height: 22px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
