:local {
  .examList{
    margin-top: 25px;
  }
  .button{
    text-align: left;
    background: linear-gradient(to right, #EFF6FF, #DDECFF, #C0DCFF);
    border-radius: 18px;
    box-shadow: 0 0 26.6px 0 rgba(0, 0, 0, 0.14);
    padding: 25px;
    margin: 0 25px 15px 25px;
    font-size: 22px;
    font-weight: 500;
    word-break: break-word;
  }
}
