:local {
  .examList{
    margin-top: 25px;
  }
  .listItem{
    padding: 20px 30px;
    border-radius: 23px;
    margin-top: 12px;
    background: linear-gradient(to right, rgba(147, 147, 147, 0.25), rgba(147, 147, 147, 0.45), rgba(147, 147, 147, 0.65));
  }
  .itemTitle{
    font-size: 22px;
    font-weight: 500;
    word-break: break-word;
  }
  .itemSubTitle{
    font-size: 18px;
    color: #636363;
    word-break: break-word;
  }
}
