:local {
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0;
    padding: 15px 10px 10px;
  }

  .item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .itemNumber {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background: #E5ECF2;
    color: #8FA6B5;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listItem {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    gap: 0px;
  }

  .itemTitle {
    font-size: 20px;
    font-weight: 500;
    color: #111827;
    margin: 0;
  }

  .itemSubtitle {
    font-size: 15px;
    color: #9ca3af;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    margin: 0;
  }
}
