:local {
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0;
    padding: 15px 10px 10px;
  }

  .uploadItem {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 16px;
    padding: 11px 10px;
    transition: all 0.2s ease;
    overflow: clip;
  }

  .uploadItem:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .uploadIcon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background: #E5ECF2;
    color: #8FA6B5;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .uploadListItem {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    gap: 0;
  }

  .uploadTitle {
    font-size: 19px;
    font-weight: 500;
    color: #111827;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: min(290px, 100%);
  }
}
