:local {
  .logout {
    background: #EDEDED;
    border-radius: 18px;
    color: #4290DB;
    width: 80%;
    text-align: center;
    font-size: 18px;
  }

  .logout:hover {
    cursor: pointer;
  }

  .logout_margin {
    margin-bottom: 150px;
  }

  .avatar {
    width: 160px;
    margin: 0 auto;
  }

  .name {
    margin-top: 15px;
    margin-bottom: 45px;
    background: linear-gradient(343deg, rgba(53,53,53,0.37), #282828);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: bold;
  }

}
