:local {
  .answer,
  .question {
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    padding: 15px 10px 0 10px;
    border: #939393 solid 1px;
    margin: 25px;
    font-size: 22px;
    word-break: break-word;
  }

  textarea {
    resize: none;
    overflow: hidden;
    max-height: 300px;
    overflow-y: auto;
    font-family: "Tinkoff", sans-serif;
  }

  .answer {
    background-color: #EFF6FF;
    margin-top: 0;
    color: #191919
  }

  .noEdit {
    border: none;
    box-shadow: 0 0 28.6px 0 rgba(0, 0, 0, 0.14);
  }
}
