@font-face {
  font-family: 'Tinkoff';
  src: url('/fonts/TinkoffSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Tinkoff';
  src: url('/fonts/TinkoffSans-Bold.ttf') format('truetype');
  font-weight: 700;
}
