@use "fonts";

body {
  font-family: 'Tinkoff', sans-serif;
}

.screen {
  min-height: 95vh;
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.screen–°ontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.screenContentCentered {
  align-items: center;
}
