@use "fonts";

body {
  font-family: 'Tinkoff', sans-serif;
  color: #353535;
}

.screen {
  min-height: 90vh;
  background: #fff;
  width: min(450px, 95vw);
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.screen–°ontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.screenContentCentered {
  align-items: center;
}
