:local {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #35353552;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    background: white;
    border-radius: 35px;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }

  .title {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    color: #000;
  }

  .input {
    width: 40%;
    padding: 10px 20px;
    border: 1px solid #939393;
    border-radius: 18px;
    font-size: 28px;
    text-align: center;
  }

  .button {
    padding: 15px 30px;
    background: linear-gradient(165.84deg, #FEDD2C 9.89%, rgba(254, 221, 44, 0.74) 66.76%, rgba(254, 221, 44, 0.5) 88.4%);
    border-radius: 18px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin: 0 50px;
  }
}
