:local {
  .item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 16px;
    padding: 11px 10px;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.045);
    transition: all 0.2s ease;
    overflow: clip;
  }

  .item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }

  .itemNumber {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background: #E5ECF2;
    color: #8FA6B5;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .listItem {
    display: flex;
    flex-direction: column;
    margin: auto 10px;
    gap: 0;
  }

  .itemTitle {
    font-size: 19px;
    font-weight: 500;
    color: #111827;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: min(290px, 100%);
  }

  .itemSubtitle {
    font-size: 15px;
    color: #9ca3af;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    margin: 0;
  }
}
