:local {
  .header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px 10px 10px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    border: none;
    border-radius: 10px;
    padding: 7px;
    background-color: white;
    min-width: 0;
    flex: 1;
  }

  .title:focus {
    outline: 2px solid black;
  }

  .backButton,
  .settingsButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .backButton {
    color: #3b82f6;
    font-size: 1.25rem;
    margin-right: 20px;
  }

  .settingsButton {
    margin-left: auto;
  }
}
