:local {
  .ratingCard {
    border-radius: 35px;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .title {
    font-size: 24px;
  }

  .ratingOptions {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .ratingOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 70px;
  }

  .ratingButton {
    width: 64px;
    height: 64px;
    border-radius: 20px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
  }

  .lightGray {
    background-color: #f7f7f7;
  }

  .lightBlue {
    background-color: #eff6ff;
  }

  .yellow {
    background-color: #fde047;
  }

  .brightYellow {
    background: radial-gradient(circle at center, #fbbf24, #f59e0b);
  }

  .ratingLabel {
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
  }
}
