:local {
  .ratingCard {
    border-radius: 35px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .title {
    font-size: 24px;
  }

  .ratingOptions {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
  }

  .ratingOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 70px;
  }

  .ratingButton {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lightGray {
    background-color: #e5e7eb;
  }

  .lightYellow {
    background-color: #fef3c7;
  }

  .yellow {
    background-color: #fde047;
  }

  .brightYellow {
    background: radial-gradient(circle at center, #fbbf24, #f59e0b);
  }

  .ratingLabel {
    font-size: 18px;
    color: #939393;
    text-align: center;
    margin-top: 8px;
  }
}
