:local {
  .nextRepeat {
    font-size: 18px;
    padding: 15px 30px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, rgba(115, 115, 115, 0.069) 100%);
    border-radius: 26px;
    text-align: center;
  }
  .body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
