:local {
  .backdrop {
    position: fixed;
    inset: 0;
    background: rgba(53, 53, 53, 0.32);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .backdrop.open {
    opacity: 1;
    pointer-events: auto;
  }

  .container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -200px;
    transition: bottom 0.25s ease;



  }

  .containerInner {
    background: white;
    padding: 16px;
    border-radius: 16px 16px 0 0;
    max-width: 450px;
    margin: auto;
  }

  .container.open {
    bottom: 0;
  }

  .button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background: transparent;
    border: none;
    font-size: 19px;
    color: white;
    cursor: pointer;
    font-family: "Tinkoff", sans-serif;
  }

}
